@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  align-items: center;
  position: relative;
  display: flex;
  background-color: #F2F2F2;
  z-index: 1;
  overflow: hidden;
}

.logo_place_header {
  height: 31px;
  width: 154px;
  position: absolute;
  top: 30px;
  left: 64px;
} 

.header__title {
  margin: 0;
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  margin: 0;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
   line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color:  #2F80ED;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 608px;
  width: 756px;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -2;
  transform: rotate(-15deg);
}

.rotation {
  animation: rotation 20s linear infinite;
}

.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}


.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.techniques {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  margin: 0;
  padding: 0;
  width: 920px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  
} 

.cards__item {
  padding-top: 60px;
  width: 240px;
  margin-right: 100px;
}

.cards__item:nth-child(3n+3){
  margin-right: 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  margin: 0 40px;
  border-radius: 50%;
}

.cards__title {
  margin: 0;
  margin-top: 43px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.cards__description {
  margin: 0;
  margin-top: 16px;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__iframes {
  min-width: 1050px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -10px;
}

.video__iframe {
  min-width: 515px;
  min-height: 316px;
  border: none;
  position: relative;
  bottom: -60px;
}

.oakley {
  padding: 160px 0 100px;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
}

.feynman {
  min-height: 790px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #F2F2F2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.feynman__title {
  margin: 0;
  width: 775px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin-bottom: 70px;
}

.feynman__subtitle {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  color:  #2F80ED;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}  

.section-title {
  padding-top: 100px;
  margin: 0;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  margin: 0;
  width: 60%;
  text-align: center;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  margin: 0;
  padding: 0;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  list-style: none;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.khan {
  display: flex;
  justify-content: center;
  padding-top: 105px;
  background-color: #F2F2F2;
}

.khan__container {
  width: 80%;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.khan__quote {
  width: 790px;
  margin: 50px 0 36px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin: 10px 0 68px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position: right top;
  margin-right: 48px;
}

.khan__book-link {
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #1F1F1F;
  overflow: hidden;
  z-index: 1;
  padding-bottom: 90px;
}

.section-title_theme_dark {
  padding-top: 90px;
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
  margin-bottom: 0;
}


.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  height: 636px;
  width: 660px;
  position: absolute;
  top: 0;
  right: -124px;
  z-index: -1;
}

.resourses {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 217px;
}

.resourses__logo-zone {
  width: 1100px;
  margin-top: 80px;
  display: flex;
}

.resourses__logo {
  width: 270px;
  height: 38px;
}

.resourses__link {
  width: 270px;
  height: 38px;
}

.footer {
  background-color: #1F1F1F;
  min-height: 350px;
  box-sizing: border-box;
  padding: 60px 0 40px;
  display: flex;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer{
  height: 35px;
  width: 183px;
}

.footer__author{
  color: #fff;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  color: #fff;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__column-link {
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icons {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}