* {
  margin: 0;
}

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  align-items: center;
  position: relative;
  display: flex;
  background-color: #F2F2F2;
}

.logo_place_header {
  height: 31px;
  width: 154px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
} 

.header__title {
  margin-left: 64px;
  width: 730px;
  
}

.header__title-text {
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 1;
}

.header__subtitle-text {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__subtitle-link {
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__main-illustration-img {
  height: 608px;
  width: 756px;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  position: absolute;
  top: 64px;
  right: 0;
}

.description {
  padding: 100px 0;
  display: flex;
  justify-content: center;
}


.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.two-columns__paragraph_no-margin {
  margin-bottom: 0;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.section-title {
  width: 60%;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin: 20px 0 60px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  list-style: none;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__cell:nth-child(-n+4) {
  margin-bottom: 60px;
}

.feynman {
  height: 790px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #F2F2F2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.feyman__title {
  width: 775px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin-bottom: 70px;
}

.feyman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feyman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #000000;
  padding: 90px;
  overflow: hidden; 
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
  margin-bottom: 0;
}
/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  z-index: 1;
}

.table__cell_theme_dark:nth-child(-n+5) {
  margin: 80px 0;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -124px;
}

.footer {
  background-color: #000000;
  min-height: 350px;
  padding: 60px 0 40px;
  display: flex;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  position: relative;
}

.logo_place_footer{
  height: 35px;
  width: 183px;
}

.footer__author{
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  color: #fff;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__list {
  padding: 0;
  list-style: none;
}

.footer__column-link {
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icons {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}